/*
	Fonts:
    font-family: 'PT Serif', ;
    font-family: 'Raleway', ;

    Colors:
    Marine Blue => #043353
    Bright Cerulean => #18A4E0
    Milk Glass => #FAF8F0
	Nordic Breeze => #D3DDE6
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main rules */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #FAF8F0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif';
}

a,
p {
    font-family: 'Raleway';
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* For the navbar */

#top-menu {
    background-color: #043353;
    height: 4em;
    padding: 10px 8em;
    position: fixed;
    top: 0;
    width: 100%;
}

#top-menu>* {
    display: inline-block;
}

.logo {
    height: 100%;
}

#top-menu ul {
    float: right;
    height: 100%;
}

#top-menu li {
    align-items: center;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    margin-left: 15px;
}

#top-menu a {
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: text-shadow .5s ease;
}

#top-menu a.current {
    color: white !important;
}

#top-menu a:not(.current):hover {
    text-shadow: 0px 0px 10px rgba(206, 206, 206, 0.8);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* For content */


section {
    padding: 4em 8em;

}

section:nth-child(2) {
    align-items: center;
    color: #333;
    display: flex;
    height: calc(100% - 4em);
    margin-top: 4em;
}

section:nth-child(2)>* {
    width: 47%;
}

#profile>* {
    display: block;
    text-align: center;
    font-size: 1.4em;
    margin-top: 10px;
}

#profile>img {
    border-radius: 50%;
    margin: auto;
    width: 300px;
}

.social > a{
	color: #18A4E092;
	cursor: pointer;
	font-size: 1.3em;
	margin: 0 3px;
	text-decoration: none;
	transition: color 5s ease;
}

.social > a:hover{
	color: #18A4E0;
}

#brief {
    font-size: 1.25em;
    line-height: 1.25em;
}

#brief>* {
    margin: 20px 0;
}

h3 {
    font-size: 1.7em;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */