/*
    Fonts:
    font-family: 'PT Serif', ;
    font-family: 'Raleway', ;

    Colors:
    Marine Blue => #043353
    Bright Cerulean => #18A4E0
    Milk Glass => #FAF8F0
    Nordic Breeze => #D3DDE6
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main rules */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #FAF8F0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3e3e3e;
    font-family: 'PT Serif';
}

h3 {
    font-size: 2.4em;
}

a,
p {
    color: #535353;
    font-family: 'Raleway';
}


p>a {
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-decoration-color: #D3DDE6;
    text-decoration-style: double;
}

section>div>p {
    font-size: 1.2em;
    line-height: calc(1.2em * 1.5);
    margin-top: 1.3em;
}

section>h2 {
    font-size: 3em;
    margin-bottom: 3vh;
}

.special-text, #dynamic-text {
    background: -webkit-linear-gradient(80deg, rgba(4, 51, 83, 1) 30%, rgba(24, 164, 224, 1) 67%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


img.text-related {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 2em auto;
    width: 100%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* For the navbar */

#top-menu {
    height: 54px;
    position: fixed;
    width: 100%;
    z-index: 500;
}

#top-menu>* {
    display: inline-block;
    cursor: pointer;
    background-color: #043353;
}

#top-menu>.logo {
    border-radius: 0 0 50% 0;
    height: 60px;
    padding: 10px 15px 15px 10px;
}

.menu>.hamburger {
    border-radius: 0 0 0 50%;
    float: right;
    padding: 10px 10px 15px 15px;
}

#top-menu ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    padding: 15vh 0 20vh 0;
    position: fixed;
    right: -100%;
    transition: right .5s ease;
    top: 0;
    width: 100%;
    z-index: -1;
}

#top-menu>ul.visible {
    right: 0;
}

#top-menu li {
    font-size: 10vw;
    text-align: center;
    width: 70%;
}

#top-menu li.current a{
    color: white !important;
}

#top-menu li:not(.current) a:hover{
    text-shadow: 0px 0px 10px rgba(206, 206, 206, 0.8);
}

#top-menu a {
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: text-shadow .5s ease;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.container {
    width: 100%;
}

.container>.tile {
    align-items: center;
    border-radius: 7px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1%;
    position: relative;
    overflow: hidden;
    width: calc(94% / 3);
}

.tile>img {
    width: 100%;
}

.tile>.overlay {

    background: -moz-linear-gradient(0deg, rgba(4,51,83,0.7) 17%, rgba(24,164,224,0.6) 91%);
    background: -webkit-linear-gradient(0deg, rgba(4,51,83,0.7) 17%, rgba(24,164,224,0.6) 91%);
    background: -o-linear-gradient(0deg, rgba(4,51,83,0.7) 17%, rgba(24,164,224,0.6) 91%);
    background: -ms-linear-gradient(0deg, rgba(4,51,83,0.7) 17%, rgba(24,164,224,0.6) 91%);
    background: linear-gradient(0deg, rgba(4,51,83,0.7) 17%, rgba(24,164,224,0.6) 91%);

    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.tile>p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* For content */

section {
    padding: 10vh 6vw 3vh 6vw;
}

section>div {
    width: 100%;
    padding: 3vh 0;
}

#profile {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile>* {
    text-align: center;
    width: 70%;
    margin-bottom: 10px;
}

#profile>img {
    border-radius: 50%;
}

#profile>h1 {
    font-size: 2em;
}

#profile>p {
    margin-top: 0;
}

.social>a {
    color: #18A4E092;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 5px;
    text-decoration: none;
    transition: color .5s ease;
}

.social>a:hover {
    color: #18A4E0;
}

#posts {
    padding-top: 12vh;
}

.post {
    margin-bottom: 45px;
}

.post > a {
    position: relative;
    background-color: #00c6de2b;
    padding: 2em;
    border-radius: 30px;
    min-height: 415px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.post > a > h2 {
    color: #3E3E3E;
    font-size: 2.4rem;
    line-height: 1.2;
    max-width: 70%;
}

.post > a > p {
    width: 70%;
    font-size: 1.4em;
    line-height: 1.3em;
    margin-top: 15px;
}

.post > a > span {
    margin-top: 15px;
    display: block;
    position: absolute;
    right: 2em;
    top: 1.5em;
}

.post .background {
    position: absolute;
    bottom: 0;
    right: 0;
}

.background > svg {
    width: 120%;
    transform: translate(-10%, 50px);
}

.special-margin-top {
    margin-top: 30px;
}









.card {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 4vh;
    padding: 8vh 12vw;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width: 100%;
}

a.card p {
    color: white !important;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2em;
    position: inherit;
    text-align: center;
}

.card>.background {
    position: absolute;
    width: 120%;
    height: 120%;
    transform: translate(-12vw, -8vh);
    background: #18A4E075;
}



.parallax-window {
    min-height: 400px;
    background: transparent;
    z-index: unset !important;
}